faiss_cpu==1.7.4
faiss_gpu==1.7.2
matplotlib==3.5.2
numpy==1.21.5
nuscenes_devkit==1.1.10
open3d==0.17.0
opencv_python==4.9.0.80
Pillow==9.5.0
Pillow==9.2.0
Pillow==11.0.0
plyfile==1.1
predictor==0.1.2
pyquaternion==0.9.9
scene==0.0.1
scikit_learn==1.0.2
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
torch==1.12.1
tqdm==4.66.4
